<img class="thebeers" src="./public/images/beer.png">
<div class="beerimage">
    <a href="/beers" class="checkbeer">Check the Beers!</a>
<div class="randombeers">
    <a href="/random-beers" class="randombeers">Check a Random Beer!</a>
</div>
</div>